<p>dashboard works!</p>

<h1>Sample of Dashboard Angular Project</h1>
<br>
<hr>
<br>
<h2>Pages if this Dashboard</h2>
<ul>
    <li><a href="/">index</a></li>
    <li><a href="/dashboard">dashboard</a></li>
    <li><a href="/grafica1">grafica1</a></li>
    <li><a href="/progress">progress</a></li>
    <li><a href="/register">register</a></li>
    <li><a href="/login">login</a></li>
    <li><a href="/not-found-page">404</a></li>
</ul>
